body {
    background-color: #799bce;
}

main {
    width: 60rem;
    height: 20rem;
    background-color: white;
    margin: auto;
    display: flex;
    margin-top: 10rem;
}

.seg {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.seg img {
    width: 4rem;
    justify-content: center;
    align-self: center;
    padding-top: 1.4rem;
}

h1 {
    letter-spacing: 0.5rem;
    color: #5370d1;
}

p {
    text-align: center;
    padding: 0px 2.6rem;
}

p.last {
    color: #5370d1;
    font-weight: 700;


}

span {
    font-size: 29px;
}

.seg:hover {
    background-color: rgba(185, 179, 185, 0.527)
}